.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.gap-20 {
    gap: 20px;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }

    .block-mobile {
        display: block;
    }

    .gap-10-mobile {
        gap: 10px;
    }
}