.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.c-black {
    color: black;
}

.c-grey {
    color: var(--grey-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: var(--green-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-white {
    color: white;
}