.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.c-black {
    color: black;
}

.c-grey {
    color: var(--grey-color);
}

.c-white {
    color: white;
}